@(message: String)
@import helper._
@import helper.twitterBootstrap._

@main("message"){
		<div class="content-link">
			<p><a href = "my_salon.html" target = "salon_main">我的店铺</a></p>
			<p><a href = "basic_info_control.html" target = "salon_main">基本信息管理</a></p>
			<p><a href="@controllers.designer.routes.Designer.designermain">技师管理</a></p>
			<ul>
				<li><a href="@controllers.designer.routes.Designer.designermain">我的技师</a></li>
				<li><a href="@controllers.designer.routes.Designer.designersearch">技师搜索</a></li>
			</ul>
			<p><a href="@controllers.record.routes.Records.recordmain">预约管理</a></p>
			@*<p><a href = "@controllers.routes.Comment.find" target = "salon_main">评论管理</a></p>*@
			<p><a href = "service_control.html" target = "salon_main">服务管理</a></p>
			<p><a href = "#" target = "salon_main">优惠劵管理</a></p>
			<p><a href = "trend_control.html" target = "salon_main">动态管理</a></p>
			<p><a href = "#" target = "salon_main">店铺装修</a></p>
		</div>
		<div class="content-core">
			<h1>我的技师页面</h1>
			<input type="button" value="添加技师">
			<table cellspacing="0">
				<tr>
					<td>
						<div>
							<div>
								
							</div>
							<p><a href="#">島崎 修</a></p>
							<div ><span>代表</span>（歴8年）</div>
							<div>10年後20年後も綺麗でいてもらうために☆</div>
							<p><input type="button" value="解约"></p>
						</div>
					</td>
					<td>
						<div>
							<div>
								
							</div>
							<p><a href="#">島崎 修</a></p>
							<div ><span>代表</span>（歴8年）</div>
							<div>10年後20年後も綺麗でいてもらうために☆</div>
							<p><input type="button" value="解约"></p>
						</div>
					</td>
					<td>
						<div>
							<div>
								
							</div>
							<p><a href="#">島崎 修</a></p>
							<div ><span>代表</span>（歴8年）</div>
							<div>10年後20年後も綺麗でいてもらうために☆</div>
							<p><input type="button" value="解约"></p>
						</div>
						
					</td>			
				</tr>
			</table>
			
		</div>
		
	
}