@(message: String)
@import helper._
@import helper.twitterBootstrap._
@main("message"){
	<div class="content-link">
			<p><a href = "my_salon.html" target = "salon_main">我的店铺</a></p>
			<p><a href = "basic_info_control.html" target = "salon_main">基本信息管理</a></p>
			<p><a href="@controllers.designer.routes.Designer.designermain">技师管理</a></p>
			<p>预约管理</p>
				<ul>
					<li><a href="@controllers.record.routes.Records.recordmain">预约查看</a></li>
				</ul>
			<p><a href = "#" target = "salon_main">评论管理</a></p>
			<p><a href = "service_control.html" target = "salon_main">服务管理</a></p>
			<p><a href = "#" target = "salon_main">优惠劵管理</a></p>
			<p><a href = "trend_control.html" target = "salon_main">动态管理</a></p>
			<p><a href = "#" target = "salon_main">店铺装修</a></p>	
	</div>	
	<div class="content-core">
		<h2>预约详情</h2>
		<table border="1px solid black" cellspacing="0" cellpadding="0" class="recordview-table">
			<tr>
				<td width="100px">顾客留言</td>
				<td colspan="3" width="600px"></td>
			</tr>
			<tr>
				<td>预约编号</td>
				<td colspan="3"></td>
				
			</tr>
			<tr>
				<td>来店时间</td>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td>服务所需时间</td>
				<td></td>
				<td>指定技师</td>
				<td></td>
			</tr>
			<tr>
				<td>服务项目</td>
				<td></td>
			</tr>
			
			<tr>
				<td>优惠劵使用情</td>
				<td colspan="2"></td>
				<td>所剩点卷</td>
			</tr>
			<tr>
				<td>联系会员</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>合计金额</td>
				<td colspan="2"></td>
			</tr>
		</table>
		<input type="button" value="返回预约履历" onclick="window.location.href='@controllers.record.routes.Records.recordmain';"/>
		<input type="button" value="取消预约">
	</div>
}