@(userForm: Form[(String,String,String,String,String,Int,String,String)])

    @import helper._

    @main("用户注册") {

        <h2 align = "center">新用户</h2>

        @form(action = routes.Application.newUser, args = 'id -> "userForm") {
          <fieldset>
            @inputText(userForm("username"),'_label -> "用户名")

			@inputPassword(userForm("password"),'_label -> "密码",'help ->"A password must be at least 6 characters.", 'class ->"span3")
			
			@inputPassword(userForm("confirmPassword"),'_label -> "确认密码",'help ->"A password must be at least 6 characters.", 'class ->"span3")
			
			@input(field = userForm("sex"), args = '_label -> "性别"){(id,name,value,args) =>
				    男：<input type = "radio" name = "sex" value = "Male" checked = "checked">
				    女：<input type = "radio" name = "sex" value = "Female">}
			
			@inputText(userForm("tel"), args = '_label -> "联系电话")
			
			@inputText(userForm("age"),'_label -> "年龄")
			
			@select(
            field = userForm("education"), 
            options = options(
                "中专及以下" -> "中专及以下",
                "大专" -> "大专",
                "本科" -> "本科",
                "研究生及以上" -> "研究生及以上"
            ),
            args = '_label -> "学历"
        )
			
			@textarea(field = userForm("introduce"), args = '_label ->"自我介绍",'rows ->4, 'cols ->120)
			
			@checkbox(userForm("accept"), '_label -> None, '_text -> "I agree to the Terms and conditions",'_showConstraints -> false)
	
		  </fieldset>
		  
            <input type="submit" class = "buttons" value="新建用户" >
            
            <a href="h"><input type = "button" class = "buttons" value="登录"></a>
            
            <input type = "reset" class = "buttons" value="重置">
           
        }
        
    @*function isaccepted(){
	    if(document.getElementById("check_id").checked==true){
	        document.getElementById("submit").disabled = false;
	    }else{
	        document.getElementById("submit").disabled = true;
	    }
    }*@


@*<input type="checkbox" name="check_id" value="checkbox" onclick="isaccepted();" />同意服务条款
<input type="submit" id="submit" value="提交" disabled />*@

    }