@(users: Option[User])

	@import helper._
	
	 @main(title = "个人信息") {
	 	
	 	<h2>个人信息</h2>
		<table width = 100% border = 0.5>
			<tr>
				<td width = 30%>用户名:</td>
				<td>@users.get.username</td>
			</tr>
		
			<tr>
				<td>性别:</td>
				<td>@users.get.sex</td>
			</tr>
			
			<tr>
				<td>年龄:</td>
				<td>@users.get.age</td>
			</tr>
		</table>
	<a href = "infoChange"><input type = "button" class = "buttons" value = "信息修改"></a>
	<input type = "button" class = "buttons" value = "返回" onclick = "history.go(-1)">
	 }